@use "custom" as *;
// Colors
$gray: rgb(91, 79, 79);

.number-container {
  width: 141px;
  height: 252px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  // top section
  & > div.number-top-section {
    background-color: transparent;
    width: 141px;
    height: 252px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    perspective: 2000px;

    // moving section
    & > div.top-mover {
      width: 141px;
      height: 252px;
      //background-color: blue;

      &.change {
        transition: transform 950ms ease-in-out;
        position: relative;
        //left: -0.5px;
        transform-style: preserve-3d;
        transform: rotateX(-180deg);

        & > div.topper {
          transition: background-color 1700ms, border-bottom 900ms ease-in-out;
          background-color: darken($number-gray, 15%);
        }
      }

      // flipper details
      & > div.topper {
        position: absolute;
        width: 141px;
        height: calc(252px / 2);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: $number-gray;

        &-back {
          position: absolute;
          width: 141px;
          height: calc(252px / 2);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background-color: $number-gray;
          transform: rotateY(180deg);
          right: 0px;
        }
      }
    }

    //Top stayer
    & > div.top-stayer {
      width: 141px;
      height: calc(252px / 2);
      background-color: $number-gray;
      position: absolute;
      top: 0;
    }
  }
  // bottom section
  & > div.number-bottom-section {
    width: 141px;
    height: calc(252px / 2);
    position: relative;
    top: calc(252px / 2);
    background-color: $number-gray;
    align-self: flex-end;
    z-index: 1;

    &.change {
      transition: background-color 1700ms 150ms;
      background-color: darken($dark-gray, 10%);
    }
  }
}

// Holder {

div.flap {
  display: flex;
  align-items: flex-end;
  & > div.holder {
    overflow: hidden;
    width: 100%;

    //margin: 12px 7px 0;
    height: 200px;
    display: flex;

    justify-content: center;

    &.top {
      //background-color: lime;
      overflow: hidden;
      align-self: flex-end;
      transform: translateY(34px);
    }

    &.btm {
      //background-color: rgb(19, 158, 182);
      overflow: hidden;
      align-self: flex-start;
      transform: translateY(-15px);
    }

    &.backer {
      max-width: calc(141px);
      max-height: 200px;
      position: relative;
      left: -0.25px;
      //background-color: red;
      align-self: flex-start;
      justify-content: center;
      transform: translateY(0px);
    }
  }
}

div.back-topper {
  //background-color: rgb(19, 158, 182);
}

.number {
  //flex-shrink: 0;
  font-size: 200px;
  //font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $number-white;
  //background-color: red;
  margin: 0;
  overflow: hidden;

  &.reverse {
    //transform: translateY(270x);
    //border-bottom: 3px solid red;
    margin-bottom: -90.5px;
    margin-left: 0px;
    padding-right: 1.7px;
    //margin-right: -0.125px;
    //padding-left: 0px;
    //text-align: center;
    //max-width: 144px;
    //position: relative;
    //left: -0.5px;
    //margin-right: -0.6%;
    //padding-top: 0;
    //margin-top: px;

    rotate: 180deg;
    //background-color: blue;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.top-num {
  position: relative;
  padding-top: 50px;
  align-items: flex-start;
}

.btm-num {
  position: relative;
  bottom: 100px;
}
